<div style = "overflow: hidden;">
    <div class="well well-sm" style = "margin-bottom: 10px;">
        <h4 class = "text-center">M.B.R.D.I QA Dashboard</h4>
    </div>

    <div class="row" style = "margin-left: 3px;">
        <div class = "col-sm-9 panel panel-default">
            <div class="panel-body">
                <h3 class="text-center project-head">Program Health</h3>
                <div style = "display: inline">
                    <div id="container-speed" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-rpm" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-speed1" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-rpm1" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                </div>                             
            </div>        
        </div>
        <div class="col-sm-2 notification-container">
             <div class="panel panel-primary">
                <div class = "panel-heading" data-target = "#panelCollapse" data-toggle = "collapse" role="button" >
                    <h5 class="text-center">Notification Board</h5>
                </div>
                <div class="panel-body collapse" id = "panelCollapse">
                    <ul class = "list-group">
                        <li class = "list-group-item">New Requirement</li>
                        <li class = "list-group-item">New Defects</li>
                        <li class = "list-group-item">New Requirement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class = "row" style = "margin-top: 0px;">
        <div class="col-md-6">
            <div class="panel panel-default pie-container">
                <div class="panel-body">
                    <h5 class = "text-center">Resource Distribution across Global</h5>
                    <highchart config="chartConfig" class="span10" class = "piechart"></highchart>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">Quick View Dashboard</h5>
                    <br>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class = "col-sm-offset-1 col-sm-4 control-label view-text">Program level view</label>
                            <div class="col-sm-6">
                                <a href = "#/programView" class="btn btn-primary view-text">PROGRAM DASHBOARD</a>
                            </div>                    
                        </div>  
                        <div class="form-group">
                            <label class = "col-sm-offset-1 col-sm-4 control-label view-text">Program level people view</label>
                            <div class="col-sm-6">
                                <a href = "#/lobView" class="btn btn-danger view-text">LOB DASHBOARD</a>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
            
            <marquee class="rolling-text">Daimler M.B.R.D.I QA dashboard: View for the project landing page. </marquee>
        </div>
    </div>
</div>

<script>
    $(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['40%', '50%'],
            size: '90%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '80%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                innerRadius: '70%',
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    $('#container-speed').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Program'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Time Spent</span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]

    }));

    // The RPM gauge
    $('#container-rpm').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'Defects'
            }
        },

        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Programee Health</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // Bring life to the dials
    setTimeout(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.random() - 0.5;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);
    
    
    
    
    // The RPM gauge
    $('#container-rpm1').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'Defects'
            }
        },

        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">People LOB</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // Bring life to the dials
    setTimeout(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm1').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.random() - 0.5;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);




// The speed gauge
    $('#container-speed1').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Program'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Cost Saving</span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]

    }));

});
</script>        