<div style = "overflow: hidden;" class = "animated fadeIn">
    <div class="well well-sm" style = "margin-bottom: 10px;">
        <h4 class = "text-center dashboard-header">M.B.R.D.I QA Dashboard</h4>
    </div>

    <div class="row" style = "margin-left: 3px;">
        <div class = "col-sm-8 panel panel-default program-health">
            <div class="panel-body program-health-container">
                <h3 class="text-center program-head animated flash">Program Health</h3>
                <div style = "display: inline">
                    <div id="container-speed" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-rpm" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-speed1" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                    <div id="container-rpm1" style="width: 160px; height: 150px; margin: 0px; float: left"></div>
                </div>                             
            </div>        
        </div>
        <div class="col-sm-4 notification-container">
             <div class="list-group">
                <div class="list-group-item active">
                    <h5 class="text-center">Bulletin board</h5>
                </div>
              <a href="" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="" class="list-group-item">Morbi leo risus</a>
              <a href="" class="list-group-item">Porta ac consectetur ac</a>
            </div>
        </div>
    </div>

    <div class = "row" style = "margin-top: 0px;">
        <div class="col-md-4">
            <div class="panel panel-default" style="margin-left: 4px;">                
                <div class="panel-body">   
                    <h5 class = "text-center">Program View</h5>  
                    <highchart config="chartConfig" class="span10 piechart"></highchart>                    
                    <span class="text-center">
                        <a href="#/programView" class="btn btn-danger btn-sm views-button-custom">Click for complete Program View</a>
                    </span>                    
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class = "text-center">Lob view</h5>
                    <highchart config="chartConfig" class="span10 piechart"></highchart>                    
                    <span class="text-center">
                        <a href="#/lobView" class="btn btn-danger btn-sm views-button-custom" style = "margin-left: 18px;">Click for complete Lob View</a>
                    </span> 
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class = "text-center">People View</h5>
                    <highchart config="chartConfig" class="span10 piechart"></highchart>                    
                    <span class="text-center">
                        <a href="#/lobView" class="btn btn-danger btn-sm views-button-custom" style="margin-left: 8px;">Click for complete People View</a>
                    </span>     
                </div>
            </div>
        </div>
    </div>
    <marquee class="rolling-text">Daimler M.B.R.D.I QA dashboard: View for the project landing page. </marquee>
</div>

<script>
    $(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge',
            credits: {
                enabled: false
            }
        },

        title: null,

        pane: {
            center: ['40%', '50%'],
            size: '90%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '80%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                innerRadius: '70%',
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    $('#container-speed').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Program'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Time Spent</span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]

    }));

    // The RPM gauge
    $('#container-rpm').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'Defects'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Programee Health</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // Bring life to the dials
    setTimeout(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.random() - 0.5;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);
    
    
    
    
    // The RPM gauge
    $('#container-rpm1').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'Defects'
            }
        },

        credits: {
            enabled: false
        },
        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">People LOB</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // Bring life to the dials
    setTimeout(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm1').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.random() - 0.5;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);




// The speed gauge
    $('#container-speed1').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Program'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">Cost Saving</span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]

    }));

});
</script>        