<div class="container-fluid animated fadeIn" style = "overflow: hidden; margin-top: 15px;">    
    <div class="alert alert-success" ng-if = "submit">
        <h5>Custom Dashboard has been submitted successfully.</h5>
    </div>
    <div class="panel panel-default program-level-header">
        <div class="panel-body">
            <h5 class = "pull-left" style = "padding-top: 5px">MY Page (Configure your dashboard as you wanted it)</h5>            
            <a href = "#/dashboardView" class = "pull-right btn btn-warning btn-sm view-text">Back To DashBoard View</a>
            <button type="button" class="btn btn-primary btn-sm view-text pull-right" style = "margin-right: 10px;" data-toggle="modal" data-target="#myModal">Add Chart</button>
        </div>
    </div>

    <div class= "panel panel-default">
        <div class="panel-body">
            <h5 class="pull-left">After Configuring your custom dashboard page, click submit to finish the configuration.</h5>
            <button type="button" class="btn btn-success btn-sm view-text pull-right" style = "margin-right: 10px;" data-toggle="modal" data-target="#submitModal">Submit Configuration</button>
        </div>
    </div>
    
    <div class="row">
        <div id="container_1" class="col-md-6"></div>
    </div>    
</div>

<script>
    
</script>