<div class="container-fluid" style = "overflow: hidden; margin-top: 15px;">
    <div class="panel panel-default program-level-header">
        <div class="panel-body">
            <h5 class = "pull-left" style = "padding-top: 5px">Profile View</h5>
            <a href = "#/dashboardView" class = "pull-right btn btn-warning btn-sm view-text">Back To DashBoard View</a>
        </div>
    </div>
    
    <div class = "container">
        <div class = "row">
            <div class="col-xs-2">
                <a href="" class = "thumbnail">
                    <img src = "../images/icon-user.png" alt = "User Image">
                    <div class="caption text-center">
                        <input type = "submit" class="btn btn-primary btn-sm" value="Upload Pic"> 
                    </div>
                </a>
            </div>
            <div class = "col-xs-offset-1 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 class="text-center">User details</h5>           
                        <br>
                        <div class="form-horizontal" style="padding: 10px;">
                            <div class="form-group profile-view">
                                <label class="col-md-1 control-label" for = "name">Name</label>                                
                                <div class="col-md-offset-2 col-md-6">
                                    <h5>Raj Narayan</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group profile-view">
                                <label class="col-md-1 control-label" for = "designation">designation</label>   
                                <div class="col-md-offset-2 col-md-6">
                                    <h5>Testing Manager</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group profile-view">
                                <label class="col-md-1 control-label" for = "emailAddress">email address</label>                                                         <div class="col-md-offset-2 col-md-6">
                                    <h5>rajn@quinnox.com</h5>
                                </div>  
                            </div>
                            <hr>
                            <div class="form-group profile-view">
                                <label class="col-md-1 control-label" for = "contact">Contact</label>                            
                                <div class="col-md-offset-2 col-md-6">
                                    <h5>9999999999</h5>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9">
                                    <a href = "" class="btn btn-primary pull-right">Update My Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>