* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

body {
    background-image:  linear-gradient(rgba(108, 122, 137, 0.80), rgba(108, 122, 137, 0.80)), url(../images/background.jpg);    
    background-size: cover;
}

.login-container {
    width: 800px;
    height: 450px;
    margin-top: 150px;
}

.lost-password {
    font-size: 80%;
    color: #9f9e9e;
    margin: 0 auto;
    margin-left: 100px;
}

.panel-default {
    height: 300px;
    background-color: rgba(244, 244, 244, 0.90);
}

.panel-body {
    margin-top: 40px;
    padding: 20px;
}

.inner-addon {
  position: relative;
}

input[type="text"] {
    padding: 20px;
}

input[type="password"] {
    padding: 20px;
}

input[type="submit"],
input[type="submit"]:visited {
    padding: 10px;
    background: #1f2327;
    border-color: #1f2327;
    color: #fff;
}

input[type="submit"]:hover,
input[type="submit"]:active {    
    background: #101214;
    border-color: #101214;
    color: #fff;
}

.inner-addon .ion {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.ion {
    font-size: 120%;
}

.left-addon .ion  { left:  0px;}
.right-addon .ion { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.logo {
    height: 300px;
    border-right: 2px solid #fff;
    margin-right: 20px;
}

.logo h1 {
    margin: 0 auto;
    font-size: 220%;
    color: #fff;
    word-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 100px;
}

.animated {
    /*animation-duration: 3s;*/
    animation-delay: 2s;
}