
.bar {
  fill: #3FC380;
    transition: all 0.2 ease;
}

.bar:hover {
  fill: #E74C3C;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#projectExecutionStatus  {
    height: 300px;
}